.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.tourList-card {
  display: inline-block;
  width: 60%;
  height: 14em;
  white-space: normal;
}
.tourList-card-img {
  height: "9em";
}

.tourList-card-header {
  text-align: center;
  padding: 5px;
}

.tourList-card-content {
  font-size: 11px;
  padding: 5px;
}
